* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Ysabeau Infant";
}

.container {
  padding: 1rem 4rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.logo-section {
  align-items: center;
  justify-content: space-between;
  background-color: #18d1bb;
  position: sticky;
  top: 0;
}
.logo-section .logo {
  border-radius: 50%;
}
.logo-section .logo img {
  border-radius: 50%;
}
.logo-section .logo img:hover {
  box-shadow: 0 4px 8px 0 grey;
}
.logo-section .searchbar {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.logo-section .searchbar input {
  border: none;
}
.logo-section .searchbar i {
  cursor: pointer;
}

.searchbar:hover {
  box-shadow: 0 4px 8px 0 grey;
}

.navbar-section {
  background-color: #d9d9d9;
}
.navbar-section ul {
  justify-content: space-between;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.navbar-section ul li {
  list-style: none;
  transition: transform 1s;
}
.navbar-section ul li:hover {
  transform: scale(1.5);
  text-shadow: 2px 2px 4px #000000;
}
.navbar-section ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.hero-section {
  padding: 5rem 5rem;
  background: radial-gradient(white, #18d1bb);
  align-items: center;
  justify-content: space-evenly;
  transition: background 5s ease-out;
}
.hero-section:hover {
  background: url(/img/cooking1.jpeg) no-repeat;
  background-size: cover;
}
.hero-section .description {
  padding: 1rem;
}
.hero-section .image img {
  width: 100%;
  min-width: 100px;
  max-width: 310px;
}

.meal-section {
  justify-content: space-between;
  background-color: #d9d9d9;
  padding: 2rem 4rem;
}
.meal-section .meal a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.meal-section .meal a i {
  font-size: 3rem;
}
.meal-section .meal a p {
  padding: 0.2rem 1.2rem;
  background-color: #18d1bb;
  color: white;
}

.popular_collection-section {
  flex-direction: column;
  align-items: center;
}
.popular_collection-section h2 {
  padding-bottom: 2rem;
}
.popular_collection-section .popular {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.popular_collection-section .popular .meal1 {
  background: #18d1bb;
}
.popular_collection-section .popular .meal1 .imagepart {
  width: 250px;
}
.popular_collection-section .popular .meal1 .imagepart img {
  width: 100%;
}
.popular_collection-section .popular .meal1 .descriptionpart {
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  color: white;
}
.popular_collection-section .popular .meal1 .descriptionpart a {
  text-decoration: none;
  color: white;
}

.featured {
  background: #d9d9d9;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.featured h2 {
  margin-bottom: 2rem;
}

.quick-pick-section {
  flex-direction: column;
  align-items: center;
}
.quick-pick-section .quick-pick-list .quick-pick {
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 2rem;
  background-color: #18d1bb;
  border-radius: 0rem 2rem 2rem 2rem;
}
.quick-pick-section .quick-pick-list .quick-pick .pick1 {
  align-items: center;
}
.quick-pick-section .quick-pick-list .quick-pick .pick1 .left img {
  border-radius: 0rem 1rem 1rem 1rem;
}
.quick-pick-section .quick-pick-list .quick-pick .pick1 .right {
  padding: 1rem;
}
.quick-pick-section .quick-pick-list .quick-pick .btn-quick-pick button {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0rem 1rem 1rem 1rem;
  background-color: #d9d9d9;
  color: white;
  cursor: pointer;
}

.subscribe-section {
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
}
.subscribe-section h2 {
  margin-bottom: 2rem;
}
.subscribe-section .subscribe {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.subscribe-section .subscribe .information {
  gap: 2rem;
}
.subscribe-section .subscribe .information input {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  text-align: center;
}
.subscribe-section .subscribe .btn-subscribe button {
  padding: 0.5rem 2rem;
  background-color: #18d1bb;
  color: white;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.footer {
  padding: 2rem;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  gap: 1rem;
}
.footer ul {
  gap: 2rem;
}
.footer ul li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */